<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TabTAPI_Binding">
                    <security mode="Transport" />
                </binding>
				<binding name="MyBinding" maxReceivedMessageSize="1048576">
					
				</binding>
                <binding name="TabTAPI_Binding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.aftt.be/index.php?s=aftt" binding="basicHttpBinding"
                bindingConfiguration="TabTAPI_Binding" contract="TabTAPI.TabTAPI_PortType"
                name="TabTAPI_Port" />
        </client>
    </system.serviceModel>
</configuration>